<div class="container">
<h1> <%= @contribution.sentence %> </h1>

<%= image_tag("#{@contribution.image}", height: 40) %>

  <div id= "usercontent">
    <p><%= @contribution.username %></p>
  </div>
</div>

<div class="container">
<%= link_to 'edit sentence', edit_story_contribution_path(@story, @contribution)%>

<%= link_to 'delete sentence', story_contribution_path(@story, @contribution), :data => {:confirm => "Are you sure?", :method => "delete"} %>

<p><%= link_to "Return to Story", story_path(@story) %></p>
</div>
